* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

main {
    text-align: center;
    padding-bottom: 65px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

input {
    border-radius: 10px;
    height: 25px;
    border: 1px solid grey;
    padding: 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.add-book-btn {
    font-size: 24px;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.add-book-btn:hover {
    filter: brightness(90%);
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.book-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.btn {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(90%);
}

.btn-red {
    background-color: lightcoral;
}

.btn-green {
    background-color: lightgreen;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 300px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
}

#addBookForm {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}